@use "../variables" as *;
@use "../mixin" as *;

.contact {
    &__container {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        @include desktop {
            flex-direction: row;
        }
    }
    &__form {
        order: 2;
        width: 100%;
        @include desktop {
         width: 60%;
        }
    }
    &__info {
        order: 3;
        width: 100%;
        @include desktop {
            order: 1;
            width: calc(40% - 2rem);
        }
    }
}