@use "../variables" as *;
@use "../mixin" as *;

.dark {
    .grid {
        &__filter {
            background-color: $secondaryDark;
            box-shadow: $shadowDark; 
        }
    }
    .project {
        background-color: $whiteDark;
        box-shadow: $shadowDark;
        &:hover {
            box-shadow: $shadowDarkHover;
        }
        &--txt {
            color: $textDark;
        }
    }
    .noproject {
        button, a {
            color: $textDark;
        }
    }
}
.grid {
    display: flex;
    flex-direction: column;
    &__filter {
        background-color: $secondary;
        border-radius: 1rem;
        padding: 1rem;
        width: 100%; 
        box-shadow: $shadow;
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        justify-content: space-between;
        @include smallTablette {
            justify-content: flex-start;
        }
        &--withoutall {
            display: none;
            gap: 1rem;
            &.active {
                display: flex;
            }
            @include smallTablette {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
            }
            &--container {
                flex: 1;

                .cta__burgerFilter {
                    @include smallTablette {
                        display: none;    
                    }
                }
            }
        }
    }
    .allFilter {
        &__desk {
            display: none;
            @include smallTablette {
                display: block;
            }
        }
        &__mob {
            display: block;
            @include smallTablette {
                display: none;
            }
        }   
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        @include mobile {
            grid-template-columns: 1fr 1fr;
        }
        @include smallTablette {
            gap: 2rem;
        }
        @include desktop {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
.project {
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: $white;
    box-shadow: $shadow;
    align-items: flex-start;
    text-decoration: none;
    border-radius: 1.5rem;
    overflow: hidden;
    &:hover {
        box-shadow: $shadowHover;
    }
    &__img {
        width: 100%;
        max-height: 155px;
        min-height: 155px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            position: absolute;
     
        }
    }
    &__type {
        position: absolute;
        width: calc(100% - 2rem);
        top: 1rem;
        left: 1rem;
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        &--button {
            background-color: $white;
            color: $text;
            font-size: 13px;
            padding: 0.5rem;
            border-radius: 1rem;
            &.active {
                background-color: $tertiary;
            }
        }
    }
    &__infos {
        padding: 1rem;
        height: 100%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        &--txt {
            color: $text;
            h2 {
                font-family: $font-title;
                font-weight: 400;
            }
            p {
                font-size: 14px;
            }
            margin-bottom: 1rem;
        }
    }
}
.noproject {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    button, a {
        cursor: pointer;
        text-decoration: underline;
        background: none;
        color: $text;
        border: 0;
        &:hover {
            text-decoration: none;
        }
    }
}
