@use "../variables" as *;
@use "../mixin" as *;

.dark {
    .projet {
        &__colLeft, &__deroule, &__pagination--btn { 
            background-color: $secondaryDark;
            box-shadow: $shadowDark;
        }
    }
}


.projet {
    &__container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    h2 {
        font-family: $font-title;
        font-weight: 400;
    }
    &__main {
        display: flex;
        flex-direction: column;
        @include smallDesktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

    }
    &__colLeft {
        background-color: $secondary;
        box-shadow: $shadow;
        padding: 2.5rem;
        order: 3;
        display: flex;
        flex-direction: column;
        @include smallDesktop {
            order: 1;
            padding: 3.5rem;
        }
    }
    &__info {
     display: flex;
     align-items: flex-start;
     gap: 1rem;
     img {
        width: 40px;
        height: auto;
     }
     &--txt {
        h2 {
            margin-bottom: 2rem;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                span {
                    font-size: 14px;
                    &.intitule {
                        font-weight: bold;
                    }
                }
            }
        }
     }
    }
    &__colRight {
        position: relative;
        overflow: hidden;
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            position: relative;
            width: 100%;
            height: auto;
            @include smallDesktop {
                position: absolute;
                height: 100%;
                width: auto;
            }
            @include bigBigXLDesktop {
                width: 100%;
                height: auto;
            }
        }
    }
    &__deroule, &__situation {
        padding: 2rem 2.5rem;
        background-color: $secondary;
        box-shadow: $shadow;
        h2 {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-bottom: 2rem;
            img {
                width: 40px;
                height: auto;
            }
        }
        &--container {
            display: flex;
            flex-direction: column;
        }
    }
    &__deroule {
        &--part {
            display: grid;
            grid-template-columns: 1fr;
            @include smallTablette {
                grid-template-columns: 1fr 1fr;
            }
            &.reverse {
                .left {
                    order: 3;
                    @include smallTablette {
                        order: 1;
                    }
                }
                .right {
                    order: 2;
                }
            }
            &.full {
                grid-template-columns: 1fr;
            }
        }
        &--bloc {
            display: flex;
            flex-direction: column;
            width: 100%;
            img {
                width: 100%;
            }
        }
        &--txt {
            p {
                margin-top: 0.5rem;
            }
        }
    }
    &__situation {
        &--grid {
            display: grid;
            gap: 1rem;
            &.grid {
                grid-template-columns: 1fr;
                @include mobile {
                    &--2, &--3, &--4 {
                        grid-template-columns: 1fr 1fr;
                    }
                }
                @include tablette {
                    &--3, &--4 {
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
                @include desktop {
                    &--4 {
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                }
            }
            .img {
                width: 100%;
                display: flex;
                justify-content: center;
                img {
                    width: 100%;
                    height: auto;
                    max-width: 580px;
                }
            }
        }
        &--video {
            display: flex;
            align-items: center;
            justify-content: center;
            .video {
                max-width: 860px;
                width: 100%;
                aspect-ratio: 16 / 9;
                overflow: hidden;

                iframe {
                    width: 100%;
                    height: 100%;
                    border: 0;
                    display: block;
                }
            }
        }
    }
    &__pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        &--container {
            max-width: 480px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 1rem;
        }
        &--btn {
            background-color: $secondary;
            box-shadow: $shadow;
            border-radius: 1.5rem;
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            overflow: hidden;
            position: relative;
            @include smallTablette {
                border-radius: 2rem;
                &::before {
                    content: '';
                    position: absolute;
                    background-color: $hoverCtaSecondary;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    transition: all ease 0.5s;
                }
            }
            span {
                z-index: 1;
                position: relative;
                text-decoration: none;
                font-family: $font-title;
                font-size: 1.4rem;
                display: none;
                @include smallTablette {
                    display: inline-block;
                }
            }
            svg {
                position: relative;
                z-index: 1;
                width: 40px;
                height: 40px;
                transition: all ease 0.25s;
                @include smallTablette {
                    width: 20px;
                    height: 20px;
                }
            }
            &.prev {
                &::before {
                    transform: translateX(100%);
                }
                &:hover {
                    &::before {
                        transform: translate(0);
                    }
                    @include smallDesktop {
                        svg {
                            transform: translateX(0.3rem);
                        }
                    }
                }
                svg {
                    left: 0.25rem;
                    @include smallTablette {
                        left: 0;
                    }
                }
            }
            &.next {
                &::before {
                    transform: translateX(-100%);
                }
                &:hover {
                    &::before {
                        transform: translateX(0);
                    }
                    @include smallDesktop {
                        svg {
                            transform: rotate(-180deg) translateX(0.3rem);
                        }
                    }
                }
                svg {
                    transform: rotate(-180deg);
                    right: 0.25rem;
                    @include smallTablette {
                        right: 0;
                    }
                }
            }
        }
    }
}