$primary: #8878C3;
$secondary: #FFF8F0;
$greyBG: #F2EBE4;
$text: #1B1B1B;
$white: #f5f1EB;
$hoverCtaSecondary: #dbdbdb;

$primaryDark: #655699;
$whiteDark: #1B1B1B;
$textDark: #f5f1EB;
$secondaryDark: #414040;



$font-title: "Jersey 10", sans-serif;
$font: "Montserrat", sans-serif;

$shadow: 0 0 20px rgba(0, 0, 0, 0.15);
$shadowDark : 0 0 20px rgba(255, 255, 255, 0.15);

$radius: 2rem;

$bigXLDesktop: 1600px;
$bigDesktop: 1460px;
$desktop: 1380px;
$smallDesktop: 1080px;
$tablette: 860px;
$tabSpe: 800px;
$smallTablette: 640px;
$mobile: 480px;
$smallMobile: 320px;