$primary: #8878c3;
$secondary: #FFF8F0;
$tertiary: #FCC837;
$greyBG: #F2EBE4;
$text: #1B1B1B;
$white: #f5f1EB;
$hoverCtaSecondary: #dbdbdb;
$tertiaryDark: #e9ba3a;
$error: #ee0f0f;
$success: #0c9918;

$primaryDark: #655699;
$whiteDark: #1B1B1B;
$textDark: #f5f1EB;
$secondaryDark: #414040;
$errorDark: #ff6969;
$successDark: #63f16f;

$metionColor:#727171;
$metionColorDark:#a8a8a8;
$metionColorFooter:#c1c1c1;


$font-title: "Jersey 10", sans-serif;
$font: "Montserrat", sans-serif;

$shadow: 0 0 20px rgba(0, 0, 0, 0.15);
$shadowHover: 0 0 20px rgba(136, 120, 195, 0.253);
$shadowDark : 0 0 20px rgba(255, 255, 255, 0.15);
$shadowDarkHover: 0 0 20px rgba(108, 86, 187, 0.685);


$radius: 2rem;

$bigBigXLDesktop: 1680px;
$bigXLDesktop: 1580px;
$bigDesktop: 1360px;
$desktop: 1280px;
$smallDesktop: 1080px;
$tablette: 860px;
$tabSpe: 710px;
$smallTablette: 640px;
$mobile: 480px;
$mobileSpe: 380px;
$smallMobile: 320px;